{% extends 'sheltownstafflogin/StaffLoginBase.html' %}
{% load static %}
{% block title %}Add Property {% endblock title %}

{% block body %}
    <nav class="breadcrump-1" aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><a href="/stafflogin">HOME</a></li>
            <li class="breadcrumb-item active"><a href="/stafflogin/staff/owner">ALL ONWERS</a></li>
            <li class="breadcrumb-item active"><span>ADD NEW OWNER</span></li>
        </ol>
    </nav>
    
    <nav class="navbar nav-2 grey lighten-4" style="box-shadow:none">
        <span class="h5-responsive text-dark">ADD NEW OWNER</span>
    </nav>
    
    <div class="form-custom" style="margin:50px 30px;">
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <hr class="py-2">
            <input type="submit" class="btn btn-block btn-lg py-2 px-5 btn-success" value='submit'>
        </form>
    </div>
    <!-- END Container -->
    {% endblock body %}